html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #f4f4f4;
}

body {
  min-height: 100vh;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUzY2U3OSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNjFlNDllIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNWFlZmI5Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #53ce79), color-stop(50%, #61e49e), color-stop(100%, #5aefb9));
  background-image: -moz-linear-gradient(bottom, #53ce79, #61e49e, #5aefb9);
  background-image: -webkit-linear-gradient(bottom, #53ce79, #61e49e, #5aefb9);
  background-image: linear-gradient(to top right, #53ce79, #61e49e, #5aefb9);
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #2980b9;
  -moz-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}
a:hover {
  color: #f1c40f;
}
@media (min-width: 960px) {
  a {
    font-size: 18px;
  }
}

h1 {
  font-size: 20px;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 960px) {
  h1 {
    font-size: 22px;
  }
}

h2 {
  font-size: 14px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding-top: 5px;
}
@media (min-width: 960px) {
  h2 {
    font-size: 16px;
  }
}

h3 {
  font-size: 19px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding: 15px 0 15px 0;
}
@media (min-width: 960px) {
  h3 {
    font-size: 21px;
  }
}

hr {
  margin-top: -5px;
  border: none;
  background: #f4f4f4;
  height: 2px;
  width: 60%;
}

li {
  font-size: 14px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 960px) {
  li {
    font-size: 16px;
  }
}

span {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
}
@media (min-width: 960px) {
  span {
    font-size: 18px;
  }
}

.main-container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.2);
}

.top-banner {
  width: 100%;
  height: 60px;
  text-align: center;
  background: #111111;
  padding: 10px;
  margin-bottom: 25px;
}

.treehouse-projects {
  min-height: 500px;
  width: 100%;
  text-align: center;
  margin: 0 auto 80px auto;
  padding: 10px;
}
.treehouse-projects ul {
  list-style: none;
}
.treehouse-projects ul li {
  padding: 20px 0 20px 0;
}
.treehouse-projects ul li span {
  font-weight: bold;
}

.random-projects {
  min-height: 500px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}
.random-projects ul {
  list-style: none;
}
.random-projects ul li {
  padding: 20px 0 20px 0;
}
.random-projects ul li span {
  font-weight: bold;
}
