html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* BASE STYLES */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #ecede8;
}

body {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwOTgxOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNTEyZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #f09819), color-stop(100%, #ff512f));
  background-image: -moz-linear-gradient(bottom, #f09819, #ff512f);
  background-image: -webkit-linear-gradient(bottom, #f09819, #ff512f);
  background-image: linear-gradient(to top right, #f09819, #ff512f);
  min-height: 100vh;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  padding-top: 5px;
}
@media (min-width: 960px) {
  h2 {
    font-size: 16px;
  }
}

h3 {
  font-size: 22px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  padding: 15px 0 15px 0;
}
@media (min-width: 960px) {
  h3 {
    font-size: 21px;
  }
}

hr {
  margin-top: -5px;
  border: none;
  background: #ecede8;
  height: 2px;
  width: 60%;
}

li {
  font-size: 14px;
  font-weight: normal;
  font-family: "Ubuntu", sans-serif;
}
@media (min-width: 960px) {
  li {
    font-size: 16px;
  }
}

span {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  font-family: "Ubuntu", sans-serif;
  padding: 5px;
}
@media (min-width: 960px) {
  span {
    font-size: 18px;
  }
}

/* GO BACK STYLES */
#go-back {
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 30px;
  color: #000000;
  background: rgba(255, 255, 255, 0.5);
}
#go-back:hover {
  color: #ecede8;
  background: rgba(0, 0, 0, 0.5);
}

/* HTML&BODY STYLES */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #ecede8;
}

/* MAIN STYLES */
.main {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWNjNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJiYzBlNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #eaecc6), color-stop(100%, #2bc0e4));
  background-image: -moz-linear-gradient(bottom, #eaecc6, #2bc0e4);
  background-image: -webkit-linear-gradient(bottom, #eaecc6, #2bc0e4);
  background-image: linear-gradient(to top right, #eaecc6, #2bc0e4);
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

/* MAIN BANNER STYLES */
.main__banner {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background: #000000;
}
.main__banner h1 {
  font-size: 20px;
  font-weight: bolder;
  font-family: "Ubuntu", sans-serif;
}
@media (min-width: 960px) {
  .main__banner h1 {
    font-size: 22px;
  }
}
.main__banner a {
  -moz-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #ecede8;
  padding: 0;
  text-decoration: underline;
}
.main__banner a:hover {
  color: #FF512F;
}
@media (min-width: 960px) {
  .main__banner a {
    font-size: 18px;
  }
}

/* FORM STYLES */
#form__reversestring {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 85%;
  height: 60px;
  margin: 25px auto 25px auto;
}
#form__reversestring input[type='text'] {
  display: block;
  text-align: center;
  background: transparent;
  padding: 10px;
  height: 20px;
  width: 100%;
  max-width: 980px;
  color: #000000;
  border: 1px solid #000000;
}
#form__reversestring input[type='text']:-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#form__reversestring input[type='text']::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#form__reversestring input[type='text']:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#form__reversestring input[type='text']::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#form__reversestring p {
  text-align: center;
  width: 100%;
  height: 10px;
}

/* MAIN OUTPUT STYLES */
#main__output {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  width: 85%;
  max-width: 980px;
  min-height: 100%;
  margin: 0 auto;
  color: #000000;
}
