/* PROJECTS WRAPPER STYLES */
.projects__wrapper {
  max-width: 980px;
  margin: 50px auto;
  height: 100%;
  .projects__inner {
    text-align: center;
    width: 100%;
    max-width: 980px;
    height: 100%;
    ul {
      @include display-flex();
      @include flex-direction(row);
      @include flex-wrap(wrap);
      @include justify-content(center);
      @include align-items(flex-start);
      width: 100%;
    }
    ul li {
      margin: 10px;
    }
    a {
      @include transition-property(box-shadow, border, transform);
      @include transition-duration(50ms, 50ms, 50ms);
      @include transition-timing-function(ease);
      @include border-radius(3px);
      @include box-shadow(inset 0 0 0 2px $color-button-border);
      display: inline-block;
      border-bottom: 5px solid $color-black;
      background: $color-black;
      padding: 10px 30px 10px 30px;
      text-decoration: none;
      font-family: $sans-stack;
      font-size: $base-font-size + 2;
      color: $color-bone;
      &:hover {
        @include box-shadow(inset 0 0 0 2px $color-button-border-hover);
        @include translateY(5px);
        @include background-clip(padding-box);
        border-bottom: 3px solid rgba(0,0,0,0);
      }
    }
  }
}
